.Button {
    height: 100px;
    width: 110px;
    border-radius: 5px;
    margin: 5px;
    align-content: center;
    cursor: pointer;
}
.Content {
    position: relative;
    top: 12px;
}

.Button:hover {
    background-color: rgba(0,0,0,0.05)
}

.Icon {
    width: 30px;
    height: 30px;
    margin: 3px auto;
}

.Icon svg {
    height: 100%;
    width: auto;
}

.Button p {
    font-size: 15px;
    margin: 0 auto;
}