
.EventCategoryModal {
    width: 100%;
}

.MainImage {
    position: relative;
    height: 300px;
    width: 100%;
    z-index: 90;
}

.Balloon {
    position: relative;
    top: 30px;
    left: 10px;
    height: 400px;
    width: 300px;
    transform: rotate(-10deg)
}

.Balloon svg {
    width: 100%;
    height: auto;
}

.Cake {
    position: relative;
    left: 360px;
    bottom: 295px;
    height: 150px;
    width: 150px;
}

.Cake svg {
    width: 100%;
    height: auto;
}

.Basket {
    position: relative;
    bottom: 143px;
    left: 154px;
    transform: rotate(-10deg);
    height: 40px;
    width: 30px;
}

.Basket svg {
    width: 100%;
    height: auto;
}

.Fireworks {
    height: 130px;
    width: 120px;
    position: relative;
    bottom: 520px;
    left: 280px;
    transform: rotate(-15deg);
}

.Fireworks svg {
    width: 100%;
    height: auto;
}

.Swirl {
    position: relative;
    bottom: 490px;
    left: 230px;
    height: 60px;
    width: 60px;
}

.Swirl svg {
    width: 100%;
    height: auto;
}

.Seagulls {
    position: relative;
    bottom: 550px;
    left: 70px;
    height: 60px;
    width: 60px;
}

.Seagulls svg {
    width: 100%;
    height: auto;
}

.Heading h2 {
    margin: 0;
}

.Heading p {
    margin: 0;
    color: #878787;
}

.Break {
    width: 95%;
    height: 1px;
    background-color: rgba(0,0,0,.2);
    margin: 15px auto;
}

.Categories {
    margin: 0 0 20px;
}


.ButtonsContainer {
    width: 90%;
    min-width: 480px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}


