


.Header {
    margin-left: 10px;
    position: relative;
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BackButton {
    z-index: 100;
    background: rgba(0,0,0,.13);
    border-radius: 100px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.BackButton svg {
    height: 60%;
    width: auto;
    position: relative;
    top: 7px;
}

.Break {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.2);
    margin: 2px 0;
}

.PrivacySelection {
    margin: 8px 0 8px 10px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.PrivacyButton {
    margin-right: auto;
    margin-left: 10px;
}

.MainImage {
    position: relative;
    height: 250px;
    width: 100%;
    min-width: 548px;
    margin: 0;
    background-color: #fcb21e;
}

.UploadImageButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 40px;
    width: 145px;
    border-radius: 7px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.UploadImageButton:hover {
    background: #edeceb;
}

.UploadImageIcon {
    height: 30px;
    width: 30px;
}

.UploadImageIcon svg {
    width: 90%;
    height: auto;
    position: relative;
    top: 3px;
    left: 8px;
}

.UploadImageText {
    margin-right: auto;
    margin-left: 15px;
    height: 40px;
    position: relative;
    bottom: 30px;
}

.IconSection {
    margin: 0;
    width: 100%;
    height: 40px;
    background: white;
    position: relative;
}

.CenteredIcon {
    position: relative;
    left: -50%;
    bottom: 23px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 4px solid white;
    border-radius: 100px;
    background-color: #1665f7;
}

.CenteredIcon svg {
    width: 70%;
    top: 5px;
    position: relative;
    height: auto;
}

.FormSection {
    width: 98%;
    margin: 0 auto;
}

.BaseInput {
    width: 93%;
}

.TitleCaption {
    width: 90%;
    margin: 0 15px;
    font-size: 8px;
    color: #878787;
    text-align: left;
}

.AddInputs {
    margin: 10px auto;
    width: 98%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.NoAddedInputs {
    margin-top: 0;
}

.BaseButtons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
    width: 95%;
    height: 100px;
}

.BaseButtons button {
    height: 35px;
}

.CalendarButton  {
    display: flex;
    width: 435px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.CalendarIcon {
    height: 15px;
    width: 15px;
    margin: 10px;
}

.CalendarIcon svg {
    height: auto;
    width: 100%;
}

.LocationButton {
    width: 63px;
}

.PinIcon {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.PinIcon svg {
    height: auto;
    width: 100%;
}

.ShareButton {
    width: 100%;
}