.CancelIcon {
    z-index: 100;
    background: rgba(0,0,0,.13);
    position: absolute;
    border-radius: 100px;
    right: 12px;
    top: 12px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.CancelIcon:hover {
    background: rgba(0,0,0,.16);
}

.CancelIcon svg {
    height: 50%;
    width: 100%;
    position: relative;
    top: 8px;
}