.CancelIcon {
    background: rgba(0,0,0,.13);
    position: absolute;
    border-radius: 100px;
    right: 12px;
    top: 12px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.CancelIcon svg {
    height: 50%;
    width: 100%;
    position: relative;
    top: 10px;
}