
.Container {
    height: 190px;
    width: 170px;
    cursor: pointer;
}

.Backdrop {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.Backdrop:hover {
    filter: saturate(2);
}