
.PageContainer {
    position:relative;
    height: 500px;
    overflow: auto;
}

.Header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin: 8px 10px 12px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    z-index: 200;
}


.Title {
    align-items: center;
    justify-self: center;
    flex: 12;
}

.BackgroundSection {
    margin: 10px;
    text-align: left;
}

.BackgroundTitle {
    margin: 0 auto 10px 10px;
    font-size: 17px;
}

.SectionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 180px;
    margin: 0 0 20px 5px;
}

.Background {
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-radius: 8px;
    background-size: 225px 225px;
    background-position: center;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 0 4px;
    filter: opacity(0.8);
}

.Background:hover {
    filter: opacity(1);
}


.CancelIcon {
    z-index: 100;
    background: rgba(0,0,0,.13);
    border-radius: 100px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-left: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CancelIcon:hover {
    background: rgba(0,0,0,.16);
}

.CancelIcon svg {
    height: auto;
    width: 80%;
    position: relative;
}


