.FriendContainer {
    width: 48%;
    height: 100px;
    margin: 4px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.04);
    box-sizing: border-box;
    overflow: auto;
}

.FriendContainer::-webkit-scrollbar {
    display: none;
}

.IdContainer {
    display: flex;
    width: 80%;
    max-width: 300px;
    min-width: 120px;
    max-height: 80px;
    justify-content: flex-start;
    align-items: center;
}

.ProfileImage {
    height: 70px;
    width: 70px;
    min-width: 70px;
    margin-right: 10px;
    border-radius: 8px;
    border: .5px solid lightgrey;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}

.ProfileImage:hover {
    filter: saturate(3);
    background-color: rgba(0,0,0,0.05);
}

.ProfileImage svg {
    height: auto;
    width: 100%;
    position: relative;
    top: 11px;
}

.NameTag {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 40px;
    max-height: 40px;
    overflow: auto;
}

.NameTag::-webkit-scrollbar {
    display: none;
}

.Name {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 0;
}

.Name:hover {
    text-decoration: underline;
}

.MutualFriendCount {
    margin: 0;
    font-size: 14px;
    font-weight: 200;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}

.MutualFriendCount:hover {
    text-decoration: underline;
}

.EditButton {
    margin-left: auto;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.09);
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.EditButton:hover {
    background-color: rgba(0,0,0,0.12);
}

.AddFriendButton {
    background-color: rgba(190, 216, 250, 0.6);
    color: #1665f7;
}

.AddFriendButton:hover {
    background-color: rgba(176, 200, 232, 0.8);
}

.EditButtonBlocker {
    position: absolute;
    left: -105px;
    top: 37px;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.OptionsDropdownPositioner {
    position: relative;
}

.OptionsDropdown {
    position: absolute;
    top: 80px;
    left: -180px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 120px;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
}

.BaseArrow {
    border-style: solid;
    position: absolute;
    border-color: transparent;
    border-width: 8px 8px 0 8px;
    bottom: 118px;
    left: -10px;
}

.BaseArrow:after {
    border-color:  white transparent;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    right: -140px;
}


.DropdownOptionsButton {
    height: 35px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.DropdownOptionsButton:hover {
    background-color: rgba(0,0,0,0.05);
}

.DropdownIcon {
    height: 30px;
    width: 30px;
    margin-right: 12px;
}

.DropdownIcon svg {
    height: auto;
    width: 70%;
    position: relative;
    top: 5px;
    left: 8px;
}
