.LogoAndSearchContainer {
    min-width: 110px;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
}

.LogoContainer {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background-image: linear-gradient(170deg, white, #1b75e3);
}

.LogoContainer svg {
    height: auto;
    width: 80%;
}

.SearchButtonContainer {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.05);
}

.SearchButtonContainer svg {
    height: auto;
    width: 70%;
    position: relative;
}

