

.UserProfile {
    max-width: 955px;
    margin: 0 auto;
}

.SwitchContent {
    width: 80%;
    max-width: 930px;
    margin: 0 auto;
}

.Break {
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,.1)
}

