
.GuardModal {
    top: 35%;
}

.WarningContainer {
    width: 40%;
    min-width: 500px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Lucida Grande";
    font-weight: 900;
    font-size: 22px;
    margin-left: 20px;
}

.SubHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Lucida Grande";
    font-weight: 100;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    margins: 10px 0 0 20px;
    margin-left: 20px;
}

.Controls {
    width: 95%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.Control {
    height: 40px;
    width: 125px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-family: "Lucida Grande";
    font-weight: 550;
    margin-left: 10px;
}
.Cancel {
    background-color: rgba(0,0,0,.1);
}
.Cancel:hover {
    background-color: rgba(0,0,0,.15);
}

.Confirm {
    color: white;
    background-color: #0B86DE;
}
.Confirm:hover {
    background-color: #0a70ff;
}
