
.TocContainer {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 15px;
}

.ProfilesDropdownBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 90%;
    cursor: pointer;
}

.ProfilesDropdownBarLeftBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DownArrow {
    height: 15px;
    width: 15px;
}

.DownArrow svg {
    height: auto;
    width: 100%;
    position: relative;
}

.ProfileImage {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px;
    cursor: pointer;
}

.ProfileImage:hover {
    background-color: rgba(0,0,0,0.14);
    filter: saturate(3);
}

.ProfileImage svg {
    height: auto;
    width: 75%;
    position: relative;
    top: 5px;
    left: 9px;
}

.Name {
    font-family: "Lucida Grande";
    font-weight: 500;
    font-size: 17px;
}

.OwnedPagesDropdownPositioner {
    position: relative;
}

.BarBlocker {
    position: absolute;
    bottom: 2px;
    left: -170px;
    width: 340px;
    height: 60px;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.Break {
    height: 1px;
    width: 93%;
    background-color: rgba(0,0,0,0.12);
    margin: 10px auto;
}



