

.PreviewContainer {
    height: 90%;
    width: 87%;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.08);
    background-color: white;
    border-radius: 8px;
    margin: 40px auto 30px;
    overflow: hidden;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 90%;
    margin: 0 auto;
}


.DesktopIcon {
    height: 10px;
    width: 10px;
}

.DesktopIcon svg {
    height: auto;
    width: 2%;
    position: absolute;
}

.PageDisplay {
    overflow: auto;
    min-height: 580px;
    width: 95%;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
}

.PageHeaderPositioner {
    position: relative;
}

.CoverImage {
    max-height: 340px;
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    border-radius: 8px;
}

.PageProfileHeader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: -120px;
    left: 30px;
}

.PageProfileCircleOutline {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    background-color: white;
    border: none;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageProfileCircle {
    height: 130px;
    width: 130px;
    background-color: #f5f5f5;
    border-radius: 100%;
    border: .5px solid rgba(0,0,0,0.06);
    z-index:2;
}

.PageProfileCircle svg {
    height: auto;
    width: 60%;
    position: relative;
    top: 30px;
    left: 35px;
}

.PageNameAndCategory {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 20px;
}

.PageName {
    font-family: "Lucida Grande";
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
}

.PageCategory {
    font-family: "Lucida Grande";
    font-size: 17px;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.SharedHeaderElements {
    position: relative;
    top: 140px;
    width: 100%;
    background-color: white;
}

.SharedBreak {
    height: .5px;
    width: 95%;
    background-color: rgba(0,0,0,0.2);
    margin: 0 auto;
}

.SharedNavBar {
    width: 95%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.SharedNavTabs {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.NavTab {
    height: 100%;
    min-width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Grande";
    font-size: 16px;
    font-weight: 900;
    color: rgba(0,0,0,0.5);
}


.PageHome {
    display: none;
}

@media (min-width: 1030px) {
    .PageHome {
        display: flex;
    }
}

.PageAbout {
    display: none;
}

@media (min-width: 1140px) {
    .PageAbout {
        display: flex;
    }
}

.PagePhotos {
    display: none;
}

@media (min-width: 1235px) {
    .PagePhotos {
        display: flex;
    }
}

.MoreArrow {
    height: 10px;
    width: 10px;
    margin-left: 8px;
}

.MoreArrow svg {
    height: auto;
    width: 100%;
    position: relative;
    bottom: 4px;
}


.SharedNavButtons {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.NavButton {
    height: 60%;
    min-width: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.05);
    margin-left: 5px;
}

.BigButton {
    min-width: 120px;
}

.NavButtonText {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.NavButtonIcon {
    height: 18px;
    width: 18px;
}

.NavButtonIcon svg {
    height: auto;
    width: 100%;
}

.SharedCliff {
    width: 100%;
    height: 0;
    box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.15);
    z-index: 2;
}

.FlexContentPositioner {
    position: relative;
}

.SharedContentBackdrop {
    position:relative;
    top: 140px;
    height: 1000px;
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    z-index: 1;
}

.SharedContentFlexContainer {
    position: absolute;
    top: 140px;
    left: 25px;
    width: 95%;
    height: 230px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    margin: 15px auto;
}

@media (min-width: 1360px) {
    .SharedContentFlexContainer {
        flex-flow: row;
        height: 100px;
        align-items: flex-start;
    }

    .AboutContainer {
        margin-right: 20px;
        width: 350px;
    }

    .PageStartPostContainer {
        width: 460px;
    }
}

.AboutContainer {
    width: 500px;
    height: 100px;
    z-index: 5;
    background: white;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
}

.AboutHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
    font-family: "Lucida Grande";
    width: 93%;
    margin: 16px auto 0;
}

.AboutDescription {
    width: 93%;
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.AboutInfoIcon {
    height: 24px;
    width: 24px;
    margin-right: 15px;
}

.AboutInfoIcon svg {
    height: auto;
    width: 100%;
    position: relative;
    top: 1px;
}

.PageStartPostContainer {
    width: 500px;
    height: 115px;
    z-index: 5;
    background: white;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
}

.PageStartPostHeader {
    display: flex;
    height: 50%;
    width: 93%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.StartPostProfileCircle {
    height: 39px;
    width: 39px;
    border-radius: 100%;
    background-color: #f5f5f5;
    border: .5px solid rgba(0,0,0,0.1);
    margin-right: 10px;
}

.StartPostProfileCircle svg {
    height: auto;
    width: 70%;
    position: relative;
    top: 6px;
    left: 8px;
}

.PageCreatePostButton {
    height: 40px;
    flex: 1;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    font-weight: 900;
}

.SharedAddMediaButtons {
    width: 93%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.SharedAddMediaButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddMediaIcon {
    height: 25px;
    width: 25px;
    margin-right: 6px;
}

.TagMediaIcon {
    height: 30px;
    width: 30px;
}

.PinMediaIcon {
    height: 22px;
    width: 22px;
}

.AddMediaIcon svg {
    height: auto;
    width: 100%;
}

.AddMediaText {
    color: rgba(0,0,0,0.6);
    font-weight: 800;
}
