
.ReactionsContainer {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 300px;
}

.IconsContainer {
    position: relative;
    right: 20px;
    height: 20px;
    max-height: 20px;
    z-index: 0;
}

.IconContainer {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid white;
    display: inline-block;
}

.Icon {
    height: 20px;
    width: 20px;
}

.Icon svg {
    height: auto;
    width: 70%;
    position: relative;
    left: 3px;
}

.Love svg {
    position: relative;
    top: 1px;
}

.Like svg {
    position: relative;
    bottom: 1px;
}

.Names {
    color: #878787;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    max-height: 20px;
    overflow: auto;
    margin-left: 50px;
}

.Names:hover {
    text-decoration: underline;
}


