
.Entry {
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 3px;
    position: relative;
}


.Icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 27px;
    width: 75px;
    padding: 0;
    margin-right: 7px;
}

.Text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}


.SubText {
    color: #878787;
    font-size: 13px;
    font-weight: 100;
}

.Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: auto;
    height: 100%;
    position: relative;
}

.Share {
    cursor: pointer;
}

.Edit {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLpejdxcDc5uhxm7_dVUxrYtN0aoHZcUJgsw&usqp=CAU");
    background-size: 30px;
    cursor: pointer;
    height: 40px
}

.Edit:hover {
    border-radius: 200px;
    border: 1px solid #cccccc;
}


.EditDropdown {
    /*display: none;*/
    z-index: 2;
    position: absolute;
    top: 55px;
    right: 20px;
    background: white;
    padding: 5px;
    width: 300px;
    box-shadow: 0 1px 8px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
}

.UpArrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d4d4d4;
    position: absolute;
    left: 280px;
    bottom: 75px;
}

.MenuItem {
    height: 30px;
    padding: 3px 3px 3px 5px;
    box-sizing: border-box;
}

.MenuItem:hover {
    border-radius: 5px;
    background: rgba(204,206,208,.31);
    cursor: pointer;
}

.EditDropdown div {
    margin: 2px;
}