
.Entry {
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    padding: 3px;
}


.Icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
    width: 75px;
    padding: 0;
    margin-right: 7px;
}

.Text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}


.MainText {

}

.SubText {
    color: #878787;
    font-size: 13px;
    font-weight: 100;
}

.Icons {
    display: flex;
    justify-content: center;
    width: 100px;
    margin-left: auto;
}

.Share {
    cursor: pointer;
}

.Edit {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLpejdxcDc5uhxm7_dVUxrYtN0aoHZcUJgsw&usqp=CAU");
    cursor: pointer;
}




