
.Entry {
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 3px;
}


.Icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 27px;
    width: 75px;
    padding: 0;
    margin-right: 7px;
}

.Text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}


.SubText {
    color: #878787;
    font-size: 13px;
    font-weight: 100;
}

.Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: auto;
    height: 100%;
}

.Share {
    cursor: pointer;
}

.Edit {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLpejdxcDc5uhxm7_dVUxrYtN0aoHZcUJgsw&usqp=CAU");
    background-size: 30px;
    cursor: pointer;
    height: 40px
}

.Edit:hover {
    border-radius: 200px;
    border: 1px solid #cccccc;
}


