.Post {
  height: 150px;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  width: 80%;
  border: 1px solid #ccd;
  border-radius: 10px;
  box-shadow: 2px 3px 2px #b8b5b5;
  box-sizing: border-box;
}

.ProfilePic {
  border: 1px solid black;
  border-radius: 100px;
  height: 30%;
  width: 10%;
  overflow: hidden;
  align-items: center;
}

.ProfilePic img {
  height: 100%;
  width: 100%;
}

.Status {
    display: flex;
    flex-flow: column;
    padding: auto;
    margin: 0 auto;
}

.Datetime { 
  padding: auto;
  text-decoration: underline;
  margin: 10px auto;
  font-size: xx-small;
  color: #ccc;
}
