
.DropdownContainer {
    position: absolute;
    left: -163px;
    width: 320px;
    min-height: 50px;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    z-index:10;
}

.OwnPageButton {
    height: 45px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.OwnPageButton:hover {
    background-color: rgba(0,0,0,0.05);
}

.LeftBlock {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ProfilePageCircle {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.1);
    margin: 0 15px;
}

.ProfilePageCircle svg {
    height: auto;
    width: 65%;
    position: relative;
    top: 4px;
    left: 7px;

}

.Name {
    font-weight: 600;
    font-family: "Lucida Grande";
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ActiveCheck {
    height: 20px;
    width: 20px;
    background-color: #35b009;
    margin-right: 10px;
    border-radius: 100%;
}

.ActiveCheck svg {
    height: auto;
    width: 65%;
    position: relative;
    left: 3px;
}