
.DropdownContainer {
    padding: 8px 5px;
    position: absolute;
    top: 30px;
    left: -120px;
    width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    z-index: 11;
    border-radius: 8px;
    box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.1);
}

.DropdownItemContainer {
    width: 98%;
    height: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.DropdownItemContainer:hover {
    background-color: rgba(0,0,0,0.05);
}

.DropdownItem {
    margin-left: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DropdownItem a {
    position: relative;
    bottom: 10px;
    height: 100%;
}

.ManageSectionsButton {
    position:relative;
    top: 10px;
    left: 20px;
}

.ActiveCheck {
    height: 30px;
    width: 30px;
}

.ActiveCheck svg {
    height: auto;
    width: 70%;
    position: relative;
    top: 5px;
}