.User {
    display:inline-block;
    background: #ccc;
    height: 350px;
    width: 250px;
    border-radius: 16px;
    margin: 3px;
    padding: 12px;
    box-shadow: 3px 4px 3px #eee;
    box-sizing: border-box;
  }
  
  
.ImageContainer {
  height: 10%;
  width: 10%;
  border: 1px solid black;
  border-radius: 100px;
}

.ImageContainer img {
  height: 100%;
  width: 100%;
}