
.User {
  height: 150px;
  position: sticky;
  top: 10%;
  margin: 16px auto;
  display: flex;
  justify-content: space-around;
  padding: 6px;
  width: 40%;
  border: 1px solid #ccd;
  border-radius: 10px;
  box-shadow: 2px 3px 2px #b8b5b5;
  box-sizing: border-box;
  background: white;
}
  
.ImageContainer {
  display: flex;
  width:40%;
  border: 1px solid black;
  border-radius: 100px;
  overflow: hidden;
}

.ImageContainer img {
  height: 100%;
  width: 100%;
}