

.Positioner {
    position:relative;
}

.DropdownContainer {
    height: 200px;
    width: 400px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.05);
    position: absolute;
    top: 20px;
    left: -85px;
    display: flex;
    flex-flow: column;
    z-index: 10;
}

.HeaderContainer {
    height: 60%;
    width: 95%;
    display: flex;
    align-items: flex-start;
    margin: 20px auto 5px;
}

.ProfileImageBlock {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 25%;
}

.ProfileImage {
    height: 85px;
    width: 85px;
    border: .5px solid rgba(0,0,0,0.1);
    border-radius: 100%;
    background-color: rgba(0,0,0,0.05);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ProfileImage:hover {
    background-color: rgba(0,0,0,0.1);
    filter: saturate(3);
}

.ProfileImage svg {
    height: auto;
    width: 95%;
    position: relative;
    top: 3px;
    left: 2px;
}

.UserInfoContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 70%;
    margin-left: 10px;
}

.UserName {
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
}

.UserName:hover {
    text-decoration: underline;
}

.InfoEntryContainer {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
}

.InfoEntry {
    min-height: 30px;
    margin-left: 10px;
}

.MutualFriend:hover {
    text-decoration: underline;
}

.InfoIcon {
    height: 30px;
    width: 30px;
}

.InfoIcon svg {
    height: auto;
    width: 70%;
    position: relative;
    left: 2px;
}

.ControlsSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 92%;
    height: 25%;
    margin: 0 auto 20px;
}

.ControlButton {
    height: 35px;
    min-width: 40px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ControlButton:hover {
    background-color: rgba(0,0,0,0.15);
}

.ButtonIcon {
    height: 30px;
    width: 30px;
}

.ButtonIcon svg {
    height: auto;
    width: 65%;
    position: relative;
    top: 5px;
    left: 5px;
}

.ControlButtonText {
    font-weight: 900;
}

.FirstControl {
    flex: 1;
    margin-left: 0;
}

.MessageIcon {
    height: 20px;
    width: 20px;
}

.MessageIcon svg {
    height: auto;
    width: 100%;
    position: relative;
    top: 1px;
    right: 6px;
}

.DotsIcon svg {
    width: 60%;
    top: 6px;
    left: 6px;
}

.AddFriendButton {
    color: #155fe8;
    background-color: rgba(77, 161, 250, 0.14);
}

.AddFriendButton:hover {
    background-color: rgba(70, 146, 227, 0.18);
}

.AddFriendIcon {
    top: 9px;
    left: 7px;
}

.EditProfileIcon {
    height: 25px;
    width: 25px;
}

.EditProfileIcon svg {
    left: 0
}

.LoadingDots {
    position: relative;
    top: 35%;
}