

.Positioner {
    position:relative;
}

.DropdownContainer {
    height: 150px;
    width: 200px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 3px 7px rgba(0,0,0,0.3);
    position: absolute;
    display: flex;
    flex-flow: column;
}

.HeaderContainer {
    height: 60%;
    width: 95%;
    display: flex;
    align-items: flex-start;
}

.ProfileImageBlock {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 30%;
}

.ProfileImage {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ProfileImage svg {
    height: auto;
    width: 100%;
    position: relative;
}

.UserInfoContainer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: 100%;
    width: 70%;
}

.UserName {
    font-weight: 900;
    font-size: 16px;
}

.UserName:hover {
    text-decoration: underline;
}

.InfoEntryContainer {
    display: flex;
    width: 90%;
    justify-content: flex-start;
}

.InfoEntry {
    min-height: 30px;
}

.InfoIcon {
    height: 30px;
    width: 30px;
}

.InfoIcon svg {
    height: auto;
    width: 90%;
    position: relative;
}

.ControlsSection {
    display: flex;
    align-items: center;
    width: 95%;
    height: 20%;
}

.ControlButton {
    height: 35px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ControlButton:hover {
    background-color: rgba(0,0,0,0.1);
}

.ButtonIcon {
    height: 30px;
    width: 30px;
}

.ButtonIcon svg {
    height: auto;
    width: 80%;
    position: relative;
}

.ControlButtonText {
    font-weight: 900;
}

.MessageIcon {
    height: 30px;
    width: 30px;
}

.MessageIcon svg {
    height: auto;
    width: 80%;
    position: relative;
}

.AddFriendButton {
    color: #155fe8;
    background-color: rgba(77, 161, 250, 0.05);
}

.AddFriendButton:hover {
    background-color: rgba(70, 146, 227, 0.05);
}