
.FormContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Form {
    width: 93%;
    margin: 0px 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.FormTitle {
    margin: 20px 0 10px 5px;
    text-align: left;
    font-size: 17px;
}

.Caption {
    margin: 0 0 20px 8px;
    font-size: 12px;
    font-family: "Lucida Grande";
    font-weight: 500;
    color: rgba(0,0,0,0.7);
}

.DescriptionInput::placeholder {
    font-family: "Lucida Grande";
    font-size: 15px;
}

.ControlsContainer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    border: none;
    box-shadow: 0 -3px 5px 2px rgba(0,0,0,0.06);
    margin: 0 auto;
    padding: 15px 8px 15px;
    background-color: white;
}

@media (min-width: 900px) {
    .ControlsContainer {
        width: 355px;
    }
}

.CreateButton {
    height: 40px;
    width: 95%;
    font-weight: 900;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    background-color: #0a74ff;
    color: white;
    cursor: pointer;
}

.CreateButton:hover {
    background-color: #096aeb;
}

.CreateDisabled {
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.2);
}

.CreateDisabled:hover {
    background-color: rgba(0,0,0,0.1);
}
