.PageHeaderPositioner {
    position: relative;
}

.CoverImage {
    max-height: 340px;
    width: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.PageProfileHeader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: -120px;
    left: 30px;
}

.PageProfileCircleOutline {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    background-color: white;
    border: none;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageProfileCircle {
    height: 130px;
    width: 130px;
    background-color: #f5f5f5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: .5px solid rgba(0,0,0,0.06);
    z-index:2;
}

.PageProfileCircle svg {
    height: auto;
    width: 60%;
    position: relative;
    top: 30px;
    left: 35px;
}

.PageNameAndCategory {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 20px;
}

.PageName {
    font-family: "Lucida Grande";
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
}

.PageCategory {
    font-family: "Lucida Grande";
    font-size: 17px;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}