.PageHeaderPositioner {
    position: relative;
}

.CoverImage {
    max-height: 340px;
    min-width: 475px;
    min-height: 280px;
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    position: relative;
}

.PageProfileHeader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: -140px;
    left: 5%;
    width: 76%;
    max-width: 930px;
    margin: 0 auto 20px;
}

.PageHeaderLeftBlock {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.PageHeaderRightBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1100px) {
    .PageProfileHeader {
        left: 20%;
    }
}

@media (min-width: 1000px) {
    .PageProfileHeader {
        left: 12%;
    }
}

.PageProfileCircleOutline {
    min-height: 160px;
    min-width: 160px;
    border-radius: 100%;
    background-color: white;
    border: none;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageProfileCircle {
    min-height: 150px;
    min-width: 150px;
    background-color: #f5f5f5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: .5px solid rgba(0,0,0,0.06);
    z-index:2;
    position: relative;
}

.PageProfileCircle svg {
    height: auto;
    width: 60%;
    position: relative;
    top: 30px;
    left: 35px;
}

.PageNameAndCategory {
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 20px;
    max-width: 930px;
}

.PageName {
    font-family: "Lucida Grande";
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
}

.PageCategory {
    font-family: "Lucida Grande";
    font-size: 17px;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.CoverUploadButton {
    height: 40px;
    width: 75px;
    max-width: 75px;
    border-radius: 8px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    position: absolute;
    right: 40px;
    bottom: 20px;
    z-index: 5;
    cursor: pointer;
}

.CoverUploadIcon {
    height: 20px;
    width: 20px;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.CoverUploadIcon svg {
    height: auto;
    width: 100%;
}

.CoverUploadText {
    font-family: "Lucida Grande";
    font-weight: 500;
    font-size: 16px;
    margin-left: 2px
}

.ProfileUploadButton {
    height: 40px;
    width: 40px;
    background-color: #e8e8e8;
    border-radius: 100%;
    cursor:pointer;
    position: absolute;
    bottom: 1px;
    right: 2px;
}

.ProfileUploadButton svg {
    height: auto;
    width: 75%;
    position: relative;
    top: 7px;
    left: 5px;
}

.SendMessageButton {
    height: 40px;
    width: 280px;
    border-radius: 5px;
    background-color: #1665f7;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SendMessageButton:hover {
    background-color: #155fe8;
}

.MessageButtonIcon {
    margin-right: 8px;
    height: 23px;
    width: 23px;
}

.MessageButtonIcon svg {
    height: auto;
    width: 100%;
}

.MessageButtonText {
    font-family: "Lucida Grande";
    font-weight: 550;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
