.Button {
  display: block;
  background: white;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 150px;
  margin: 5px auto;
  font-weight: bold;
  font-size: 18px;
}


.Neutral {
  color: #3b5998;
}

.Neutral:hover {
  color: #7d93c2;
}
.Success {
  color: green;
}

.Success:hover {
  color: lightgreen;
}

.Danger {
  color: red;
}

.Danger:hover {
  color: salmon;
}
