.Button {
  background: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  height: 20px;
  margin: 5px auto;
  font-size: 15px;
}

.Neutral {
  background: #e6e6e6;
}

.Neutral:hover {
  background: #d4d4d4;
}

.Save {
  background: #1665f7;
  color: white;
}

.Save:hover {
  background: #155fe8;
}

.Success {
  color: green;
}

.Success:hover {
  color: lightgreen;
}

.Danger {
  color: red;
}

.Danger:hover {
  color: salmon;
}

.Disabled {
  background-color: #e6e6e6;
  color: #cccccc;
}

.Disabled:hover {
  background-color: #e6e6e6;
  color: #cccccc;
  cursor: default;
}
