
.Container {
    min-height: 100px;
    width: 100%;
    border-radius: 7px;
    display: flex;
}

.Container:hover {
    background-color: rgba(0,0,0,0.05);
}

.ActiveProfileReview {
    background-color: rgba(204, 225, 255,0.04);
}

.ProfileImageBlock {
    height: 100%;
    width: 40px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 0 15px;
}

.ProfileImage {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ProfileImage {
    background-color: rgba(0,0,0,0.14);
    filter: saturate(3);
}

.ProfileImage svg {
    height: auto;
    width: 100%;
}

.InfoAndControlsContainer {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0 0 20px;
}

.Name {
    font-weight: 700;
    font-family: "Lucida Grande";
    font-size: 15px;
    margin-bottom: 15px;
}

.MutualFriends {
    font-weight: 100;
    font-family: "Lucida Grande";
    font-size: 13px;
    color: rgba(0,0,0,0.11);
    cursor: pointer;
}

.ControlsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    width: 255px;
}

.Control {
    height: 100%;
    width: 48%;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: "Lucida Grande";
    font-size: 14px;
}

.Control:hover {
    background-color: rgba(0,0,0,0.12);
}

.ConfirmControl {
    background-color: #155fe8;
    color: white;
}

.ConfirmControl:hover {
    background-color: #1258db;
}

