.CenterOptionsContainer {
    min-width: 400px;
    max-width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Button {
    height: 95%;
    min-width: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Button:hover {
    background-color: rgba(0,0,0,0.1);
}

.ButtonIcon {
    height: 48px;
    width: 48px;
}

.Button svg {
    height: auto;
    width: 80%;
}

.MoreButton {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Lines div {
    height: 3px;
    border-radius: 100px;
    margin-bottom: 7px;
    width: 30px;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    top: 3px;
}

.MoreTabActive .Lines div {
    background-color: #1b6ee3;
}