
.Positioner {
    position: relative;
}

.Container {
    position: absolute;
    bottom: 55px;
    min-height: 35px;
    min-width: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 3px;
    background-color: rgba(77,77,77,0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Grande";
    font-weight: 500;
    font-size: 14px
}