

.HomeContainer {
    position: absolute;
    top: 0;
    /*left: 0;*/
    height: 100%;
    width: 100%;
}

.Break {
    height: 1px;
    width: 95%;
    margin: 0;
    background-color: rgba(0,0,0,0.2);
}

.PostsSection {
    position: relative;
    top: 70px;
    width: 80%;
    max-width: 930px;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    z-index: 1;
}

.BookmarksSideDrawer {
    position: fixed;
    top: 82px;
    left: 0;
    height: 100%;
    width: 20vw;
    display: none;
}

.ContactsSideDrawer {
    position: fixed;
    top: 93px;
    right: 0;
    height: 100%;
    width: 25vw;
    display: none;
    z-index: 2;
}

.ContactsHeader {
    box-sizing: border-box;
    padding: 4px;
    height: 45px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.ContactsTitle {
    font-family: "Lucida Grande";
    font-weight: 550;
    font-size: 15px;
    color: rgba(0,0,0,.4);
}

.ContactsHeaderControl {
    height: 23px;
    width: 23px;
    border-radius: 100%;
    cursor: pointer;
}

.ContactsHeaderControl:hover {
    background-color: rgba(0,0,0,0.05);
}

.ContactsHeaderControl svg {
    height: auto;
    width: 55%;
    position: relative;
    top: 1px;
    left: 5px;
}

.BottomLoader {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}


@media (min-width: 800px) {
    .HomeContainer {
        left: 20vw;
        width: 70vw
    }

    .PostSection {
        width: 100%;
    }

    .BookmarksSideDrawer {
        display: block;
    }
}


@media (min-width: 1050px) {
    .HomeContainer {
        left: 20vw;
        width: 55vw
    }

    .PostSection {
        width: 100%;
    }

    .BookmarksSideDrawer {
        display: block;
        width: 25vw;
    }

    .ContactsSideDrawer {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}