.Comment {
    width: 100%;
    margin-bottom: 10px;
}

.Reply .Comment {
    margin-left: 46px;
}

.CommentContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.Reply .CommentContainer {
    width: 70%;
}

.CommenterProfileImageContainer {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.Reply .CommenterProfileImageContainer {
    height: 26px;
    width: 26px;
}

.CommenterProfileImage {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 1px solid #cccccc;
    background: rgba(0,0,0,.1);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    top: 3px;
}

.Reply .CommenterProfileImage {
    height: 26px;
    width: 26px;
}

.CommenterProfileImage:hover {
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
}

.CommenterProfileImage svg {
    height: auto;
    width: 80%;
    position: relative;
    top: 5px;
    left: 3px;
}

.Reply .CommenterProfileImage svg {
    top: 4px;
    left: 2px;
}

.CommentBubbleContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.CommentBubbleAndEditButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EditOptionsPositioner {
    position: relative;
    height: 34px;
    width: 34px;
}

.EditButton {
    z-index: 9;
    height: 34px;
    width: 34px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    left: 4px;
}

.EditButton:hover {
    background-color: rgba(0,0,0,0.07);
}

.EditButton svg {
    height: auto;
    width: 40%;
    position: relative;
    top: 7px;
    left: 10px;
}

.EditDropdownContainer {
    z-index: 10;
    display: flex;
    width: 350px;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    bottom: 41px;
    right: -173px;
    box-shadow: 0 12px 28px 0px rgba(0,0,0,0.2)
}

.EditDropdownButton {
    width: 98%;
    height: 35px;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    vertical-align: center;
    cursor: pointer;
}

.EditDropdownButton:hover {
    background-color: rgba(0,0,0,0.05);
}

.BaseArrow {
    border-style: solid;
    position: absolute;
    border-color: transparent;
    border-width: 8px 8px 0 8px;
    bottom: -8px;
}

.BaseArrow:after {
    border-color: white transparent;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    left: -7px;
}


.CommentBubble {
    display: flex;
    height: 90%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background-color: rgba(0,0,0,0.06);
    position: relative;
    min-width: 110px;
}


.CommenterName {
    font-size: 14px;
    font-weight: 900;
    margin: 0;
}

.CommentText {
    font-size: 13px;
    font-weight: 100;
}

.CommentBubbleOptionButtons {
    height: 10%;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.CommentBubbleButton {
    width: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
}

.CommentBubbleButton:hover {
    text-decoration: underline;
}

.InterPoint {
    font-size: 8px;
    color: #b8b5b5;
    position: relative;
    top: 4px;
    margin: 0 5px;
}

.AttachedImage {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    overflow: hidden;
}

.CommentBarSection {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 30px;
    width: 95%;
    margin: 3px 0 0 47px;
}

.CommentBar {
    height: 40px;
    width: 93%;
    background-color: rgba(0,0,0,.05);
    border-radius: 40px;
    cursor: text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.CommentBar input:focus {
    border-bottom: 1px solid #0B86DE;
}

.CommentBar input {
    background-color: transparent;
    border: none;
    width: 75%;
    height: 100%;
    font-size: 16px;
}

.CommentButtons {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: 0;
}

.CommentButtonIcon {
    height: 39px;
    width: 39px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.CommentButtonIcon svg {
    height: auto;
    width: 50%;
    position: relative;
    top: 10px;
    left: 10px;
}

.CommentButtonIcon:hover {
    background-color: rgba(0,0,0,0.05);
}

.Gif svg {
    width: 48%;
}

.CommentBarSection .CommenterProfileImageContainer {
    height: 26px;
    width: 26px;
    position: relative;
    bottom: 5px;
}

.CommentBarSection .CommenterProfileImage {
    height: 26px;
    width: 26px;
}

.CommentBarSection .CommenterProfileImage svg{
    left: 2px;
}

.CommentBarSection .CommentBar {
    width: 80%;
}

.ReplyForm {
    width: 100%;
}

.EditCommentForm {
    width: 100%;
}

.CancelEditingSection {
    height: 20px;
    text-align: left;
    align-items: center;
    margin: 0 0 10px 20px;
}

.CancelEditingCaption {
    color: rgba(0,0,0,0.2);
    font-size: 13px;
}

.CancelEditingButton {
    color: #0B86DE;
    cursor: pointer;
}

.CancelEditingButton:hover {
    text-decoration: underline;
}

.EditReplyForm {
    width: 100%;
}

.GifDropdownPositioner {
    position: relative;
}