
.DropdownsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    min-width: 160px;
    /*max-width: 400px;*/
    margin-right: 8px;
}

.Button {
    height: 42px;
    width: 42px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}

.Button:hover {
    background-color: rgba(0,0,0,0.1);
}

.Button svg {
    height: auto;
    width: 50%;
    position: relative;
    top: 10px;
    left: 10px;
}

.ButtonActive {
    background-color: rgba(196, 222, 255, 0.4);
}


.Plus svg {
    width: 43%;
    top: 12px;
    left: 12px;
}

.Bell {
    transform: rotate(345deg);
}

.Bell svg {
    width: 46%;
    top: 11px;
    left: 12px;
}

.Down svg {
    width: 35%;
    top: 12px;
    left: 14px;
}

.AccountDropdownPositioner {
    position: relative;
}

.AccountButtonBlocker {
    position: absolute;
    bottom: -20px;
    left: -48px;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
}

.ButtonBlocker {
    position: absolute;
    bottom: -20px;
    left: -48px;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
}

