
.Container {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 97%;
    cursor: pointer;
    margin: 0 auto;
}

.Container:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 7px;
}

.Icon {
    height: 32px;
    width: 32px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 8px;
}

.Icon svg {
    position: relative;
    top: 4px;
    height: auto;
    width: 70%;
}

.Text {
    height: 50px;
    margin-right: auto;
    font-weight: 900;
    font-size: 15px;
}

.Text span {
    line-height: 50px;
}