
.FormContainer {
    height: 100%;
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.Form {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.Header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.CategoryIcon {
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,0.08);
    border-radius: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CategoryIcon svg {
    height: auto;
    width: 80%;
    position: relative;
    top: 2px;
    right: 1px;

}

.HeaderCaptionBlock {
    height: 45px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.EditingCaption {
    font-family: "Lucida Grande";
    font-weight: 100;
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}

.CaptionQuestion {
    font-family: "Lucida Grande";
    font-weight: 900;
    font-size: 20px;
}

.SaveEditsButton {
    height: 40px;
    width: 98%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a70ff;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.SaveEditsButton:hover {
    background-color: #0a67f2;
}

.SaveDisabled {
    background-color: rgba(0,0,0,0.07);
    color: rgba(0,0,0,0.4);
    cursor: default;
}
.SaveDisabled:hover {
    background-color: rgba(0,0,0,0.07);
    color: rgba(0,0,0,0.4);
}


.SingleEntrySave {
    margin-top: 10px;
}

