
.NotificationContainer {
    position: relative;
    min-height: 75px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.NotificationContainer:hover {
    background-color: rgba(0,0,0,0.05);
}

.ImageBlock {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60px;
    min-width: 60px;
    margin-right: 8px;
}

.ImageContainer {
    height: 55px;
    min-height: 55px;
    width: 55px;
    min-width: 55px;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    overflow: hidden;
}

.ImageContainer svg {
    height: auto;
    width: 100%;
    position: relative;
    top: 4px;
}

.IconContainer {
    position: absolute;
    top: 35px;
    right: 1px;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon svg {
    height: auto;
    width: 100%;
}

.TextContainer {
    height: 100%;
}

.Text {
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Lucida Grande";
    font-size: 15px;
    font-weight: 550;
    color: rgba(0,0,0,0.6);
}

.Date {
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Lucida Grande";
    font-weight: 100;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
}

.DateUnread {
    font-weight: 900;
    color: #0a70ff;
}

.OutsideAlerter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditButtonContainer {
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.4);
    background-color: white;
    cursor: pointer;
}

.EditButtonContainer:hover {
    background-color: #e3e3e3;
}

.EditButtonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
}

.EditButtonIcon svg {
    height: auto;
    width: 100%;
}

.UnreadIndicator {
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 100%;
    background-color: #0a70ff;
    margin-left: auto;
}

.Deleting {
    background-color: rgba(0,0,0,0.3);
    cursor: default;
}

.Deleting:hover {
    background-color: rgba(0,0,0,0.3);
}

