.Input {
  width: 40%;
  margin: 50px auto;
  box-sizing: border-box;
  border-bottom: 2px solid #ccc;
}

.InputElement {
  display: block;
  height: 30px;
  width: 90%;
  margin: 4px auto;
  border: none;
  text-align:center;
}

.InputElement:focus {
  border: none;
}

.Label {
  font-weight: bold;
  display: block;
}
