
.InputElement {
  border: 1px solid #b8b5b5;
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
  width: 95%;
  padding: 5px;
  margin: 5px auto;
}

.TextArea {
  resize: none;
  height: 100px;
}

.InputElement:hover {
  border: 1px solid #878787;
}

.InputElement:focus {
  border: 1px solid #0B86DE;
}

.InputElement::placeholder {
  color: #b8b5b5;
  font-weight: lighter;
}

.CheckContainer {
  margin: 10px 0;
  position:relative;
  right: 6px;
}

.CheckCircle {
  display: inline-block;
  align-items: center;
  height: 38px;
  width: 38px;
  border-radius: 100px;
  cursor:pointer
}

.CheckCircle:hover {
  background: rgba(0,0,0,.1);
}

.Checkbox {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: relative;
  left: 8px;
  top: 3px;
}

.Checkbox:hover {
  border-radius: 100px;
  background: rgba(0,0,0,.1);
}

.CheckLabel {
  position: relative;
  bottom: 3px;
  margin-left: 3px;
}

.SelectContainer {
  margin: 5px 5px 10px 0;
  height: 40px;
  display: inline-block;
}

.SelectLabel {
  margin: 6px;
}

.Select {
  display: inline-block;
  background-color: #e6e6e6;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  max-width: 100%;
  width: 80px;
  height: 100%;
  margin-left: 0;
  border: none;
  cursor: pointer;
}

.Select:hover {
  background: #d4d4d4;
  border: none;
}

.Invalid {
  border: 1px solid #a51515;
  border-radius: 5px;
}

