
.InputElement {
  border: 1px solid #b8b5b5;
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
  width: 95%;
  padding: 5px;
  margin: 5px auto;
}

.TextArea {
  resize: none;
  height: 100px;
}

.InputElement::placeholder {
  color: #b8b5b5;
  font-weight: lighter;
}

.InputElement:focus {
  border: 1px solid #0B86DE;
}

.Invalid {
  border: 1px solid #a51515;
  border-radius: 5px;
}

