.FriendsContainer {
    position: relative;
    top: 20px;
    z-index: 5;
    width: 100%;
    max-width: 930px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: white;
    overflow: auto;
}

.FriendsContainer::-webkit-scrollbar {
    display: none;
}

.HeaderSection {
    height: 180px;
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title {
    cursor: pointer;
    min-width: 5px;
    display: flex;
    flex-flow: column;
    margin-left: 8px;
}

.Title span {
    font-weight: bolder;
    font-size: 20px;
}

@media(min-width: 808px) {
    .Title {
        flex-flow: row;
    }
    .HeaderSection {
        height: 70px;
    }
}


.Title:hover {
    text-decoration: underline;
}

.HeaderControlsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 550px;
    min-width: 550px;
}

.TextButton {
    font-size: 15px;
    font-weight: 900;
    color:  #1665f7;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 15px;
}

.TextButton:hover {
    background-color: rgba(0,0,0,0.04);
}

.MoreOptionsButton {
    height: 35px;
    width: 40px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.MoreOptionsButton svg {
    height: auto;
    width: 40%;
    position: relative;
    top: 1px;
}

.MoreOptionsButton:hover {
    background-color: rgba(0,0,0,0.1);
}

.MoreButtonBlocker {
    position: absolute;
    bottom: -18px;
    right: 10px;
    height: 35px;
    width: 40px;
    border-radius: 5px;
    background-color: transparent;
    z-index: 3;
    cursor: pointer;
}

.EditDropdownPositioner {
    position: relative;
}

.EditDropdown {
    position: absolute;
    top: 19px;
    right:  -15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 320px;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
}

.BaseArrow {
    border-style: solid;
    position: absolute;
    border-color: transparent;
    border-width: 8px 8px 0 8px;
    bottom: 118px;
    left: -10px;
}

.BaseArrow:after {
    border-color:  white transparent;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    right: -140px;
}

.DropdownButton {
    height: 35px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.DropdownButton span {
    margin-left: 8px;
}

.DropdownButton:hover {
    background-color: rgba(0,0,0,0.05);
}

.FilterButtonsContainer {
    height: 55px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.FilterButton {
    height: 93%;
    border-radius: 5px;
    color: rgba(0,0,0,0.7);
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
    cursor: pointer;
}

.FilterButton:hover {
    background-color: rgba(0,0,0,0.05);
}

.ActiveFilter {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 3px solid #2b5de6;
    color: #2b5de6;
}

.ActiveFilter:hover {
    background-color: white;
}

.MoreFilterBlocker {
    height: 50px;
    width: 50px;
}

.MoreFiltersDropdownPositioner {
    position: relative;
}

.MoreFiltersDropdown {
    position: absolute;
    top: 40px;
    right:  1px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
}

.MoreFilterButton {
    height: 35px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.MoreFilterButton span {
    margin-left: 8px;
}

.SearchBar input {
    margin-left: 10px;
}

.SearchGlass svg {
    width: 55%;
}

.FriendsSection {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px;
}