
.DropdownContainer {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.HeaderContainer {
    width: 95%;
    height: 70px;
    margin: 3px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProfileImageContainer {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.1);
}


