

.NavigationBar {
    width: 80%;
    min-width: 350px;
    max-width: 930px;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    height: 60px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    background-color: white;
    box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.15);
    z-index: 12;
    position: sticky;
    top: 57px;
}

.NavigationBar nav {
    height: 100%;
    position: sticky;
    top: 100px;
}

.TabControls {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.TabControls a {
    height: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.TabControls .MoreTab {
    height: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.TabControls a:hover {
    background: #ebebeb;
    border-radius: 10px;
    border-bottom: 3px solid #2b5de6;
}

.TabControls .MoreTab:hover {
    background: #ebebeb;
    border-radius: 10px;
    border-bottom: 3px solid #2b5de6;
}

.TabControls a:active,
.TabControls a.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 3px solid #2b5de6;
    color: #1665f7;
    font-weight: 900;
}

.TimelineTab {
    display: none;
}

@media (min-width: 588px) {
    .TimelineTab {
        display: block;
    }
}

@media (max-width: 587px) {
    .MoreTab {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: 3px solid #2b5de6;
        color: #1665f7;
        font-weight: 900;
    }

    .MoreTab div {
        color: #1665f7;
    }

    .Arrow {
        fill: #1665f7;
    }
}

.MoreTab div {
    height: 62px;
    width: 25px;
    position: relative;
}

.MoreArrowContainer {
    position: relative;
}

.MoreTab svg {
    position: absolute;
    bottom: 46px;
    left: 16px;
    height: auto;
    width: 10px;
}

.ActiveMoreTab {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 3px solid #2b5de6;
    color: #1665f7;
    font-weight: 900;
}

.ActiveMoreTab div {
    color: #1665f7;
}

.ActiveMoreTab .Arrow {
    fill: #1665f7;
}

.MoreTabBlocker {
    height: 60px;
    width: 130px;
    position: absolute;
    left: -120px;
    top: -28px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.MoreTabBlockPositioner {
    position: relative;
}

.AboutTab {
    display: none;
}

@media (min-width: 664px) {
    .AboutTab {
        display: block;
    }
}

.FriendsTab {
    display: none;
}

@media (min-width: 777px) {
    .FriendsTab {
        display: block;
    }
}

.PhotosTab {
    display: none;
}

@media (min-width: 859px) {
    .PhotosTab {
        display: block;
    }
}

.DropdownNavPositioner {
    position: relative;
}

.DropdownNavPositioner a:hover {
    background: none;
    border-bottom: none;
}

.EditControls {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.EditControl {
    height: 42px;
    min-width: 42px;
    position: relative;
    top: 1px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #e6e6e6;
    cursor: pointer;
}

.EditControlIcon {
    height: 20px;
    width: 20px;
}

.EditControlIcon svg {
    height: auto;
    width: 100%;
    position: relative;
}

.FirstControlButton {
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
}

.EditProfileButtonIcon {
    height: 16px;
    width: 16px;
}

.EditProfileButtonIcon svg {
    height: auto;
    width: 100%;
    position: relative;
    left: 7px;
}

.MoreOptionsDropdown {
    width: 400px;
    min-height: 50px;
    position: absolute;
    padding: 10px 0;
    right: 1px;
    top: 65px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
    z-index: 100;
}

.BaseArrow {
    border-style: solid;
    position: absolute;
    border-color: transparent;
    border-width: 9px 9px 0 9px;
    bottom: 88px;
    left: 237px;
}

.BaseArrow:after {
    border-color:  white transparent;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    bottom: 1px;
    content: "";
    position: absolute;
    right: -140px;
}

.MoreOptionsDropdownButton {
    height: 35px;
    width: 96%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.MoreOptionsDropdownButton:hover {
    background-color: rgba(0,0,0,0.1);
}

.MoreOptionsIcon {
    height: 20px;
    width: 20px;
    margin: 0 15px 0 10px;
}

.MoreOptionsIcon svg {
    height: auto;
    width: 100%;
    position: relative;
}

.MessageUserButtonIcon {
    height: 18px;
    width: 18px;
}

.MessageUserButtonIcon svg {
    height: auto;
    width: 100%;
    position: relative;
    top: 1px;
    left: 4px;
}

.AddFriendControlButton {
    height: 42px;
    border-radius: 8px;
    min-width: 120px;
    margin: 5px;
    position: relative;
    top: 1px;
    padding: 8px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: #155fe8;
    background-color: rgba(77, 161, 250, 0.14);
    cursor: pointer;
}

.AddFriendControlButton:hover {
    background-color: rgba(70, 146, 227, 0.18);
}

.AddFriendButtonIcon {
    height: 18px;
    width: 18px;
}

.AddFriendButtonIcon svg {
    height: auto;
    width: 100%;
    position: relative;
    right: 2px;
}

.EditControl:hover {
    background: rgba(0,0,0,0.15);
}

.EditControls svg {
    height: 100%;
    width: auto;
}

.DotsIcon {
    height: 14px;
    width: 14px;
}

.DotsIcon svg {
    position: relative;
    bottom: 1px;
}

.Break {
    height: 1px;
    width: 85%;
    min-width: 350px;
    max-width: 960px;
    background: #cccccc;
    margin: 5px auto;
}

