

.EditButtonsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.EditButton {
    min-height: 30px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.AboutEntry {
    min-height: 30px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.EditButtonLeftBlock {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.EditIcon {
    height: 20px;
    width: 20px;
    margin: 0 10px;
}

.EditIcon svg {
    height: auto;
    width: 100%;
}

.EditText {
    font-family: "Lucida Grande";
    font-weight: 550;
    font-size: 14px;
    color: #0a70ff;
    cursor: pointer;
}

.AboutText {
    font-family: "Lucida Grande";
    font-size: 14px;
}

.EditText:hover {
    text-decoration: underline;
}

.PenIcon {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.PenIcon svg {
    height: auto;
    width: 100%;
}


.FollowClass {
    font-family: "Lucida Grande";
    font-weight: 500;
    font-size: 14px;
    cursor: default;
    color: rgba(0,0,0,0.8);
}

.FollowClass:hover {
    text-decoration: none;
}

.MessageClass {
    font-weight: 300;
}

.CategoryClass {
    font-weight: 300;
}

.CategoryClass:hover {
    text-decoration-color: rgba(0,0,0,0.5);
}

.Link a {
    font-family: "Lucida Grande";
    font-weight: 300;
    font-size: 14px;
    color: #0a70ff;
    cursor: pointer;
    text-decoration: none;
}

.Link a:hover {
    text-decoration: underline;
}
