
.Container {
    width: 375px;
    min-height: 50px;
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    overflow: auto;
}

.Container::-webkit-scrollbar {
    display: none;
}

.Container:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 7px;
}

.Icon {
    height: 32px;
    width: 32px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 8px;
}

.Icon svg {
    position: relative;
    top: 4px;
    height: auto;
    width: 70%;
}

.Text {
    height: 40px;
    margin-right: auto;
}

.Text span {
    line-height: 40px;
}