
.Container {
   height: 35px;
   width: 200px;
   background-color: rgba(0,0,0,0.07);
   border: none;
   border-radius: 20px;
   display: flex;
   justify-content: stretch;

}

.Input {
    border: none;
    height: 33px;
    width: 100%;
    background-color: transparent;
}

.Input::placeholder {
    color: #b8b5b5;
}

.SearchIcon {
    height: 35px;
    width: 35px;
    position: relative;
}

.SearchIcon svg {
    height: auto;
    width: 40%;
    position: absolute;
    left: 12px;
    top: 10px;
}

.ConfirmButton {
    width: 40px;
    margin-left: auto;
    text-align: center;
}

