
.EditForm {
    margin-top: 20px;
    width: 100%;
}

.Buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 5px;
}

.SubmitOrCancel {
    display: flex;
    align-items: center;
}

.Buttons button {
    margin: 5px;
    width: 70px;
    height: 40px;
}