
.GifSelectorContainer {
    z-index: 10;
    display: flex;
    width: 300px;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    bottom: 50px;
    left: -263px;
    box-shadow: 0 12px 28px 0px rgba(0,0,0,0.2)
}

.BaseArrow {
    border-style: solid;
    position: absolute;
    border-color: transparent;
    border-width: 8px 8px 0 8px;
    bottom: -8px;
}

.BaseArrow:after {
    border-color: white transparent;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    right: -140px;
}

.SearchSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 2px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    left: 0;
}

.SearchBar {
    width: 95%;
    margin-left: 10px;
    cursor: text;
}

.SearchBar input {
    width: 100%;
}

.GifSuggestionsSection {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(0deg, royalblue, rgba(0,0,0,.2));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    overflow: auto;
}

.GifSuggestionsSection::-webkit-scrollbar {
    display: none;
}