
.Entry {
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 3px;
    position: relative;
}

@media (max-width: 810px) {
    .Entry {
        margin: 15px 0;
    }
}

.Icon {
    position: relative;
    height: 25px;
    width: 25px;
    padding: 0;
    margin-right: 20px;
}

.Icon svg {
    width: 20px;
    height: auto;
}

.Text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}


.SubText {
    color: #878787;
    font-size: 13px;
    font-weight: 100;
}

.Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: auto;
    height: 100%;
    position: relative;
}

.Share {
    cursor: pointer;
}

.Share svg {
    position: absolute;
    top: 3px;
}

.Edit {
    cursor: pointer;
    height: 38px;
    width: 50px;
    position: relative
}

.Edit svg {
    height: 60%;
    position: absolute;
    top: 6px;
    left: 10px;
}

.Edit .CancelSvg {
    height: 55%;
    position: absolute;
    top:9px;
    left:2px;
}

.Edit:hover {
    border-radius: 200px;
    border: none;
    background: rgba(0,0,0,0.1)
}

.EditDropdown {
    display: none;
    z-index: 2;
    position: absolute;
    top: 55px;
    right: 22px;
    background: white;
    padding: 5px;
    width: 300px;
    box-shadow: 0 1px 12px 2px rgba(0,0,0,0.15);
    border-radius: 10px;
}

.VisibleDropdown {
    display: block;
}

.UpArrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d4d4d4;
    position: absolute;
    left: 280px;
    bottom: 75px;
}

.MenuItem {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 3px 3px 3px 5px;
    box-sizing: border-box;
}

.MenuItem:hover {
    border-radius: 5px;
    background: rgba(204,206,208,.31);
    cursor: pointer;
}

.DropdownIcon {
    position: relative;
    height: 15px;
    width: 15px;
    padding: 0;
    margin-right: 20px;
}

.DropdownIcon svg {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 1px;
}


.DropdownText {
    margin-left: 10px;
}



.EditDropdown div {
    margin: 2px;
}