
.EmojiSelectorContainer {
    z-index: 10;
    display: flex;
    height: 55px;
    width: 450px;
    padding: 0 5px;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 45px;
    background-color: white;
    position: absolute;
    bottom: 24px;
    left: -24px;
    box-shadow: 0 12px 28px 0px rgba(0,0,0,0.2)
}