

.Emoji {
    height: 45px;
    width: 45px;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Emoji:hover {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 5px;
}

.CaptionPositioner {
    position: relative;
    height: 50px;
    width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Caption {
    height: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(23, 23, 23, 0.90);
    padding: 6px;
    color: white;
    align-items: center;
    position: absolute;
    bottom: 56px;
}