

.Container {
    width: 330px;
    min-height: 40px;
    display: flex;
    align-items: center;
    margin: 2px auto;
}

.Text {
    height: 100%;
    min-height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 12px;
    font-family: "Lucida Grande";
    font-weight: 500;
    font-size: 14px;
}

