

.Container {
    z-index: 5;
    width: 100%;
    max-width: 930px;
    margin: 0 0 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    background: white;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 98%;
    margin: 15px auto 0;
}

.HeaderInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderControlDropdown {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.ActiveEditingDropdown {
    background-color: rgba(0,0,0,.05);
}

.HeaderControlDropdown:hover {
    background-color: rgba(0,0,0,.05);
}

.HeaderControlDropdown svg {
    height: auto;
    width: 55%;
    position: relative;
    top: 8px;
    left: 8px;
}

.IdContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 80%;
    z-index: 9;
}

.DateAndPrivacyContainer {
    display: flex;
    justify-content: space-around;
    min-width: 80px;
}

.Date {
    font-size: 15px;
    color: rgb(115,115,115);
}

.PrivacyIconContainer {
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.PrivacyIconContainer:hover {
    background-color: rgba(0,0,0,0.09);
}

.PrivacyIcon {
    height: 14px;
    width: 14px;
}

.PrivacyIcon svg {
    height: auto;
    width: 100%;
    position: relative;
    left: 4px;
    top: 1px;
}

.ProfileImageContainer {
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.ProfileImage {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: 1px solid #cccccc;
    background: rgba(0,0,0,.1);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.ProfileImage:hover {
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
}

.ProfileImage svg {
    height: auto;
    width: 90%;
    position: relative;
    top: 3px;
    left: 2px;
}

.EditOptionsPositioner {
    position: relative;
}

.EditDropdownContainer {
    z-index: 10;
    display: flex;
    width: 350px;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    bottom: 44px;
    left: -330px;
    box-shadow: 0 12px 28px 0px rgba(0,0,0,0.2)
}

.EditDropdownButton {
    width: 98%;
    height: 35px;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    vertical-align: center;
    cursor: pointer;
}

.EditDropDownButtonIcon {
    height: 33px;
    width: 33px;
}

.EditDropDownButtonIcon svg {
    height: auto;
    width: 60%;
    position: relative;
    top: 6px;
}

.EditDropdownButton:hover {
    background-color: rgba(0,0,0,0.05);
}

.BaseArrow {
    border-style: solid;
    position: absolute;
    border-color: transparent;
    border-width: 8px 8px 0 8px;
    bottom: -8px;
}

.BaseArrow:after {
    border-color: white transparent;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    right: -170px;
}


.Break {
    height: 1px;
    width: 95%;
    margin: 0 auto;
    background-color: #cccccc;
}

.ButtonsContainer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 4px auto;
    width: 95%;
    height: 35px;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 50%;
    border-radius: 8px;
}

.ButtonIcon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.ButtonIcon svg {
    height: auto;
    width: 60%;
    position: relative;
    top: 5px;
    left: 10px;
}

.Like {
    position: relative;
    top: 1px;
    right: 1px;
}

.Comment {
    margin-right: 6px;
    position: relative;
    top: 3px;
    left: 1px;
}

.Comment svg {
    width: 60%;
}

.Button:hover {
    background-color: rgba(0,0,0,0.05)
}

.ImageSection {
    margin: 0 auto;
    overflow: auto;
    height: 400px;
    z-index: 9;
}


.ImageContainer {
    margin: 5px auto 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    height: 87%;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    z-index: 9;
}

.StatusSection {
    width: 95%;
    margin: 10px auto;
    font-size: 30px;
    background: transparent;
    z-index: 9;
}

.Status {
    margin: 0;
    font-size: 22px;
}

.StatusTextArea {
    background: transparent;
    width: 90%;
    border: none;
    margin: 0 auto;
    text-align: start;
    font-family: ".AppleSystemUIFont";
    font-size: 25px;
    font-weight: 300;
    resize: none;
}

.StatusWithImage {
    height: 90px;
}

.StatusWithBackground {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 100px;
    margin: 0 auto;
}

.StatusWithBackground p {
    font-weight: bolder;
    font-size: 30px;
    color: #bababa;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

.BackgroundSection {
    z-index: 20;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-self: stretch;
    align-items: center;
    background: transparent;
    z-index: 9;
}

.Backdrop {
    z-index: -20;
    width: 100%;
    height: 150%;
    margin-top: 10px;
    background-size: 600px 600px;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.CommentBarSection {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 50px;
    width: 95%;
    margin: 3px auto 0;
}

.CommenterProfileImageContainer {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.CommenterProfileImage {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 1px solid #cccccc;
    background: rgba(0,0,0,.1);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.CommenterProfileImage svg {
    height: auto;
    width: 90%;
    position: relative;
    top:5px;
    left: 2px;
}

.CommenterProfileImage:hover {
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
}

.CommentForm {
    width: 100%;
}

.CommentBar {
    height: 40px;
    width: 93%;
    background-color: rgba(0,0,0,.05);
    border-radius: 40px;
    cursor: text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.CommentBar input {
    background-color: transparent;
    border: none;
    width: 75%;
    height: 100%;
    font-size: 16px;
}

.CommentButtons {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: 0;
}

.CommentButtonIcon {
    height: 39px;
    width: 39px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.CommentButtonIcon svg {
    height: auto;
    width: 50%;
    position: relative;
    top: 10px;
    left: 10px;
}

.CommentButtonIcon:hover {
    background-color: rgba(0,0,0,0.05);
}

.Gif svg {
    width: 48%;
}

.EnterCommentCaption {
    font-size: 13px;
    color: black;
    margin: 0 0 10px 70px;
}

.CommentsSection {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0 0;
}

.CommentImagePreviewSection {
    width: 92%;
    margin: 10px auto 0;
    height: 150px;
    padding: 5px 0 5px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.CommentImagePreviewContainer {
    height: 130px;
    width: 140px;
    border-radius: 8px;
    background-position: center;
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.CommentImagePreviewContainer:hover {
    box-shadow: 0px 2px 2px 3px rgba(0,0,0,0.08);
}

.CancelCommentImagePreviewButton {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.07);
}

.CancelCommentImagePreviewButton:hover {
    background-color: rgba(0,0,0,0.1);
}

.CancelCommentImagePreviewButton svg {
    height: auto;
    width: 65%;
    position: relative;
    top: 5px;
    left: 5px;
}

.GifMenuPositioner {
    position: relative;
}