

.Container {
    z-index: 5;
    width: 100%;
    max-width: 930px;
    margin: 0 0 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    background: white;
}

.Header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 50px;
    width: 98%;
    margin: 8px auto 0;
}

.CommentSection {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 50px;
    width: 98%;
    margin: 8px auto 0;
}

.CommenterProfileImageContainer {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.CommenterProfileImage {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 1px solid #cccccc;
    background: rgba(0,0,0,.1);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.CommentBar {
    height: 40px;
    width: 86%;
    background-color: rgba(0,0,0,.05);
    border-radius: 40px;
    cursor: text;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.CommentBar input {
    background-color: transparent;
    border: none;
    width: 60%;
    height: 100%;
    font-size: 16px;
}

.CommentButtons {

}

.IdContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 80%;
    z-index: 9;
}

.DateAndPrivacyContainer {
    display: flex;
    justify-content: left;
    width: 200px;
}

.PrivacyIcon {
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.PrivacyIcon:hover {

}

.PrivacyIcon svg {
    height: auto;
    width: 100%;
}

.ProfileImageContainer {
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.ProfileImage {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: 1px solid #cccccc;
    background: rgba(0,0,0,.1);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.ProfileImage:hover {
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
}

.ProfileImage svg {
    height: auto;
    width: 90%;
    position: relative;
    top: 3px;
    left: 2px;
}

.Break {
    height: 1px;
    width: 95%;
    margin: 4px auto;
    background-color: #cccccc;
}

.ButtonsContainer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 35px;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 50%;
    border-radius: 8px;
}

.ButtonIcon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.ButtonIcon svg {
    height: auto;
    width: 60%;
    position: relative;
    top: 5px;
    left: 10px;
}

.Comment {
    margin-right: 6px;
    position: relative;
    top: 1px;
}

.Comment svg {
    width: 65%;
}

.Button:hover {
    background-color: rgba(0,0,0,0.05)
}